In [10]:
#How do you handle duplicate values in a dataset in Python?#
#remove duplicates#
import numpy as np
from collections import OrderedDict
a = np.array([1,2,2,4,3,3,4,5])
a_drop_duplicate = list(set(a))
import pandas as pd
df = pd.DataFrame({"A":["cat", "cat", "cat", "dog"], "B":[0,1,1,1], "C":["A","A","B","A"]})
df_frop_duplicate= df.drop_duplicates(subset=['A', 'C'], keep=False)
print(df)
print(a_drop_duplicate)
print(df_frop_duplicate)
#remove duplicate string#
string = 'bittttigger'
print (''.join(OrderedDict.fromkeys(string)))

     A  B  C
0  cat  0  A
1  cat  1  A
2  cat  1  B
3  dog  1  A
[1, 2, 3, 4, 5]
     A  B  C
2  cat  1  B
3  dog  1  A
bitger

In [67]:
#You are given two tables - friend_request and request_accepted. Friend_request contains requester_id, 
#time and sent_to_id and request_accepted table contains time, acceptor_id and requestor_id. 
#How will you determine the overall acceptance rate of requests? 
friend_request = pd.DataFrame(
    {"requester_id":[1,2,3],
     "time":["2018-05-18","2018-05-19","2018-05-20"],
     "receiver_id":[1,2,3]}
)
request_accepted = pd.DataFrame(
    {"requester_id":[1,2,4],
     "time":["2018-05-18","2018-05-19","2018-05-20"],
     "acceptor_id":[1,2,4]}
)
print(friend_request)
print(request_accepted)

   receiver_id  requester_id        time
0            1             1  2018-05-18
1            2             2  2018-05-19
2            3             3  2018-05-20
   acceptor_id  requester_id        time
0            1             1  2018-05-18
1            2             2  2018-05-19
2            4             4  2018-05-20

In [14]:
newdata= pd.merge(friend_request,request_accepted,how='outer', on='requester_id')
print(newdata)

   receiver_id  requester_id      time_x  acceptor_id      time_y
0          1.0             1  2017-07-01          1.0  2017-07-01
1          2.0             2  2017-07-02          2.0  2017-07-02
2          3.0             3  2017-07-03          NaN         NaN
3          NaN             4         NaN          4.0  2017-07-05

In [44]:
len(newdata["acceptor_id"][newdata.acceptor_id >0 ])/(len(newdata['acceptor_id']))

0.75

In [1]:
#SQL#
import sqlite3
connection = sqlite3.connect("company.db")

cursor = connection.cursor()

# delete 
sql_command = """
CREATE TABLE friend_request1  ( 
requester_id INTEGER, 
time DATE, 
receiver_id INTEGER);"""

sql_command = """
CREATE TABLE request_accepted1 ( 
requester_id INTEGER, 
time DATE, 
receiver_id INTEGER);"""

cursor.execute(sql_command)

sql_command = """INSERT INTO friend_request1(requester_id, time, receiver_id)
    VALUES (1, "2018-05-18", "1");"""
cursor.execute(sql_command)

sql_command = """INSERT INTO friend_request1(requester_id, time, receiver_id)
    VALUES (2, "2018-05-18",2);"""

sql_command = """INSERT INTO request_accepted1 (requester_id, time, receiver_id)
    VALUES (1, "2018-05-18", "1");"""
sql_command = """INSERT INTO request_accepted1 (requester_id, time, receiver_id)
    VALUES (1, "2018-05-19", "1");"""
sql_command = """INSERT INTO request_accepted1 (requester_id, time, receiver_id)
    VALUES (1, "2018-05-17", "3");"""

cursor.execute(sql_command)
crsr.execute("SELECT * FROM request_accepted")
###

OperationalError: table request_accepted1 already exists

In [3]:
cursor.execute("SELECT * FROM request_accepted")

In [47]:
#data#
file_location = "/Users/feichen/Desktop/simon course/jobs/bittiger/"
file_name = "BA501_python_data.csv"
data = pd.read_csv(file_location + file_name)
data.head(5)

,country,date,experiment_id,order_id,spend_usd,user_id,vertical
0,JP,20170402,12624548,5813140433216629693,16.138855,5006730028073359543,ANDROID_APPS
1,US,20170403,12624549,16333056276711034931,9.990000,5938685669571545259,ANDROID_APPS
2,JP,20170404,12624548,11227119161741298366,19.887087,17623708458399141713,ANDROID_APPS
3,US,20170403,12624548,11927299833124210932,19.990000,18042812344456618148,ANDROID_APPS
4,JP,20170403,12624549,11644727017708872749,88.220093,4325104700699531031,ANDROID_APPS

In [57]:
#write Python scripts to identify the issuer of the following credit card numbers#
def issuer(cc):
    if (cc[0:1]=='4') and (len(cc)==16):
        print("VISA")
    elif (cc[0:2]=='34' or '37') and (len(cc)==15):
        print("AMEX")
    elif (cc[0:2]=='36') and (len(cc)==14):
        print("Diners Club")


word_c = ['4175004175004172', 
         '4917491749174917',
         '346416800707698',
         '376416800707698',
         '37641680070769832112',
         '36641680070769',
         '54545641680070769']
for cc in word_c:
         print(issuer(cc))

VISA
None
VISA
None
AMEX
None
AMEX
None
None
Diners Club
None
None

In [29]:
#write a Python function called PrintCumulativeTimeSeries()
#The function takes three inputs:
#experiment_id
#country
#vertical
#The function produces two outputs:
#A time series chart showing the cumulative uplift (hint: search for cumsum)
#Print out the cumulative % uplift on revenue, experiment vs. control. Hint: (red - blue) / blue %
from IPython.display import display
from IPython.display import HTML
import IPython.core.display as di
import numpy as np
import pandas as pd
import scipy
import matplotlib.pyplot as plt
#get file#
file_location = "/Users/feichen/Desktop/simon course/jobs/bittiger/"
file_name = "BA501_python_data.csv"
data = pd.read_csv(file_location + file_name)
data.date = pd.to_datetime(data.date, format='%Y%m%d')
np.unique(data["experiment_id"])

red_button = np.unique(data["experiment_id"])[0]
blue_button = np.unique(data["experiment_id"])[1]
# subset the data
red_button_data = data[['date','spend_usd']][data.experiment_id == red_button]
blue_button_data = data[['date','spend_usd']][data.experiment_id == blue_button]
red_ts = red_button_data.groupby('date')['spend_usd'].cumsum()
blue_ts = blue_button_data.groupby('date')['spend_usd'].cumsum()
plt.plot(red_ts, color="red", label="red")
plt.plot(blue_ts, color="blue", label = "blue")

In [31]:
def PrintCumulativeTimeSeries(my_data, experiment_ids, country):
    # data grouping
    my_data = my_data.sort_values("date", ascending=True, inplace=False)
    treatment_series = GetCumulativeSeries(my_data, experiment_ids[0], country)[0]
    treatment_revenue = GetCumulativeSeries(my_data, experiment_ids[0], country)[1]
    control_series = GetCumulativeSeries(my_data, experiment_ids[1], country)[0]
    control_revenue = GetCumulativeSeries(my_data, experiment_ids[1], country)[1]
    
    print("Cumulative revenue impact: " + str(treatment_revenue/control_revenue*100-100) + "%")
    PlotSeries(treatment_series, control_series)

In [32]:
PrintCumulativeTimeSeries(my_data, [12624548,12624549], "JP")

Cumulative revenue impact: -2.46850453816%